@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button,
input,
canvas {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
}
